.hero {
    /* border: 2px solid rgb(0, 255, 4); */
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
}

.hero .hero_img {
    /* border: 2px solid red; */
    width: 50rem;
    order: 2;
}

.hero .hero_text {
    /* border: 2px solid red; */
    order: 1;
    width: 35rem;
}

.hero .hero_text h2 {
    font-size: 1.8rem;
}

.hero .hero_text p {
    margin-top: 1rem;
}

.explore_btn {
    /* border: 2px solid red; */
    border: none;
    /* background-color: rgb(0, 0, 0); */
    background-color: var(--theme-red);
    color: white;
    padding: .5rem 1rem;
    border-radius: 2rem;
    cursor: pointer;
    margin-top: 1rem;
    font-size: larger;
}

.explore_btn:hover {
    background-color: var(--theme-hover);
    transition: ease-in-out .3s;
}