.footer {
    margin-top: 10rem;
    height: 10rem;
    background-color: rgb(228, 88, 88);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 2rem; */
}

.footer .footer_btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: 5rem;
}

.footer button {
    border: none;
    color: white;
    background-color: black;
    padding: .5rem 1rem;
    border-radius: .5rem;
    cursor: pointer;
    font-size: larger;
}

.footer button:hover {
    background-color: rgb(28, 28, 28);
    /* color: rgb(255, 255, 255); */
    transition: ease-in-out .3s;
}

.footer .copyright-tab {
    /* background-color: rgb(228, 88, 88); */
    /* border: 2px solid red; */
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .copyright {
    color: white;
    margin-top: 1rem;
}

.footer .copyright span {
    color: black;
    font-weight: bold;
}