.footer {
    margin-top: 10rem;
    height: 10rem;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.footer button {
    border: 1px solid rgb(247, 0, 0);
    color: white;
    background-color: black;
    padding: .5rem 1rem;
    border-radius: .5rem;
    cursor: pointer;
    font-size: larger;
}

.footer button:hover {
    background-color: rgb(28, 28, 28);
    /* color: rgb(255, 255, 255); */
    transition: ease-in-out .3s;
}