.footer {
    margin-top: 10rem;
    height: 5rem;
    background-color: rgb(228, 88, 88);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 2rem; */
}

.footer .copyright-tab {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .copyright {
    color: white;
    margin-top: 1rem;
}

.footer .copyright span {
    color: black;
    font-weight: bold;
}