:root {
  --theme-red: #E15344;
  --theme-hover: rgb(224, 9, 9);
}

.card_holder {
  /* border: 2px solid red; */
  /* background-color: rgb(235, 235, 235); */
  /* height: 50rem; */
  padding-top: 2rem;
  margin-bottom: 12rem;
  margin-top: 10rem;
}

.cards_ {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: space-around; */
  margin-top: 2rem;
  padding-top: 2rem;
}

.card_class {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  margin: 0rem 5rem 0rem 5rem;

}